<div class="contenedorHeader">

    <div class="cotenedorLogo">
        <div class="logo"></div>
    </div>
    <ul class="listaHeader">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Productos</a></li>
        <li><a href="#">Contacto</a></li>
    </ul>

    <div class="contenedorIconos">
        <div (click)="despliegueMain()" class="iconMain"></div>
        <div class="iconCarrito">
            <div class="contador">{{counterCart}}</div>
        </div>
    </div>

    <div class="mainDesplegable" [class.animationMain]="animationMain">
        <div (click)="cerrarMain()" class="iconCerrar"></div>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </div>
</div>

